<section style="padding-bottom: 4rem;">
  <div class="container d-flex justify-content-center align-items-center">
    <div class="col-md-6">
      <form>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label text-white">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="message" class="form-label text-white">Message</label>
            <input type="text" class="form-control">
          </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</section>