<section style="display: flex;padding-top: 2rem;padding-bottom: 2rem;">
    <div class="adsense col-md-3 d-flex justify-content-center align-items-center">
        <img src="{{ vertical_adsense.image_url }}" alt="" style="width: 200px;height: 600px;"> 
    </div>
    <div class="col-md-6" style="display: flex;align-items: center;flex-direction: column;">
        <h1 class="text-white" style="text-align: center;">How Our Youtube Converter Works</h1>
        <ul style="padding-inline-start: 0;" class="text-white">
            <li style="list-style-type: none;">1. Copy the Youtube video link.</li>
            <li style="list-style-type: none;">2. Paste the Youtube video link here.</li>
            <li style="list-style-type: none;">3. Click the Convert button to start the conversion process.</li>
            <li style="list-style-type: none;">4. Once the video is converted to mp3, a button will be displayed under the search box.</li>
            <li style="list-style-type: none;">5. Click the button to download the mp3 to your local system.</li>
        </ul>
        <hr style="width: 85%; padding-bottom: 3rem;color: white;">
        <h1 style="text-align: center;" class="text-white">The Best Youtube Converter</h1>
        <p class="text-center text-white">By using our YouTube Converter you can now easily convert YouTube videos to audio (M4A, MP3, WAV, AAC, OGG, WMA, FLAC) or video (AVI, MP4, MPG, MOV, WMV, KMV, M4V, WEBM, FLV, 3GP) files and download them for free. YouTube Converter is fully compatible with all devices (computers, tablets and mobile) and all operating systems (Windows, Mac, Linux, Android, iOS...). Our YouTube Converter is for free and does not require any software or registration.</p>
        <hr style="width: 85%; padding-bottom: 3rem;color: white;">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h4 class="text-center text-white">Free Conversion</h4>
                    <p class="text-center text-white" style="padding-bottom: 5rem;">Our service is FREE for everyone. It allows anyone to use to convert and download YouTube videos.</p>
                </div>
                <div class="col-md-6">
                    <h4 class="text-center text-white">Easily converting</h4>
                    <p class="text-center text-white" style="padding-bottom: 5rem;">Just paste the link or search to select the video to convert and get ready to download video to your device.</p>
                </div>
                <div class="col-md-6">
                    <h4 class="text-center text-white">Full file format supported</h4>
                    <p class="text-center text-white" style="padding-bottom: 5rem;">Support all video and audio formats conversion. Easily convert YouTube videos to MP3, 3GP, MP4, FLV, AVI formats, etc.</p>
                </div>
                <div class="col-md-6">
                    <h4 class="text-center text-white">High speed</h4>
                    <p class="text-center text-white" style="padding-bottom: 5rem;">Our YouTube Converter have the best speed for converting and downloading.</p>
                </div>
            </div>
        </div>
    </div>
    
    <div class="adsense col-md-3 d-flex justify-content-center align-items-center">
        <img src="{{ vertical_adsense.image_url }}" alt="" style="width: 200px;height: 600px;"> 
    </div>
    
</section>
<hr style="color: white;">
